<h1>Olympia's Fencers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fencers.each do |fencer| %>
      <tr>
        <h1><%= fencer.first_name %> Average Place <%= " #{fencer.average_place fencer.results}" %></h1>
        <% total_touches = fencer.total_touches fencer.round_results %>
        <% if "#{fencer.average_place fencer.results}" != "No Results" then %>
        <h2> Total Touches Given <%= " #{total_touches[0]}" %> Total Touches Taken <%= " #{total_touches[1]}" %> Win-Loss = <%= "#{fencer.win_loss fencer.round_results}%" %></h2>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>